body{
    display:flex;
    flex-direction: column;
    min-height: 100vh;
}
header{
    background-color:blue;
    padding: 20px;
}

footer{
background-color:blue;
    padding: 20px;
}
main{
    flex-grow:1;
}