.container-central{
    height: 100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    

}
.caixa-login{
    width:300px;
    height:200px;
    background-color: lightgray;
   
}