html,body{
    padding:0;
    margin:0;
    background-color: #222;
    color:#FAFAFA;
    width: 100vw;
    height:100%;
    font-family: arial;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
}

section{
    width: 60%;
    height:80%;
    background-color: #111;
}

form{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.envelope{
    display: flex;
    flex-direction: column;
}

label{
    font-size: 25px;
}

input{
    width:400px;
    height:30px;
    font-size: 30px;
    border:0;
    border-radius: 5px;
    background-color: #CDCDCD;
}

button{
    padding: 10px;
    width: 200px;
    height: 30px;
    background-color: orchid;
    color:#FAFAFA;
    border:0;
    border-radius: 10px;
}

